body { 
    font-family: "Courier New", Courier, monospace;
    background: url("../images/bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 0px;}


#content {
    background-color: #FFF;
    border: 3px double #31373F;
    color: #31373F;
    display: inline-block;
    margin: 20px auto 50px;
    min-height: 4em;
    overflow: auto;
    text-align: center;
    width: 100%;
    padding-top: 3%;
}


.container{

	width:1100px;
	margin: 0 auto;
}

.sel{

	float:left;
	width:30%;
	padding: 1%;
}

.sel img {
	width: 100%;
	max-height: 247px;
	}
p#description{

	font-size: 12px;
	font-size: 12px;
	min-height: 87px;
	max-height: 87px;
}

div#title {
	font-size: 21px;
	font-weight: bold;
	color: darkolivegreen;
	padding-bottom: 5px;
}

p#price {
	color: red;
	font-weight: bold;
}

nav.navbar {
	background-color: rgba(255,255,255,0.6);
	min-height: 50px;
	padding-top: 15px;
}

span#logo {
	font-size: 30px;
	color: darkolivegreen;
	height: 50px;
	text-transform: uppercase;
	text-shadow: -1px 2px white;
	float:left;
}
span#greet {
	float: right;
	text-transform: capitalize;
}

#content2 {
	background-color: #1e1b1e;
	color: #fff;
	width: 47%;
	padding: 20px 15px;
	text-align: center;
	min-height: 200px;
	float:left;
	margin-right: 6px;
	
}

#content3 {
	background-color: white;
	color: #000;
	width: 47%;
	padding: 20px 15px;
	text-align: center;
	min-height: 200px;
	float:left;
	margin-bottom: 4%;
	
}

div#land {
	font-size: 34px;
	color: darkolivegreen;
	text-decoration: underline;
}

#conimg{

	float: left;
	width: 22%;
	margin-right: 16px;
}

#ctext{

	text-align: left;
}

footer {
    clear: both;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
}